@import url("https://fonts.googleapis.com/css?family=Poppins:300,700,800,var(--paragraph-1-font-weight),500,400,600|Unbounded:500,600|Inter:400,700");

* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

html,
body {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

/* a blue color as a generic focus style */
button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}

a {
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}


:root {
  --black: rgba(34, 34, 34, 1);
  --orange: rgba(255, 105, 49, 1);
  --white: rgba(255, 255, 255, 1);
  --grey: rgba(99, 99, 99, 1);
  --heading-1-font-family: "Unbounded", Helvetica;
  --heading-1-font-weight: 600;
  --heading-1-font-size: 80px;
  --heading-1-letter-spacing: 0px;
  --heading-1-line-height: 90px;
  --heading-1-font-style: normal;
  --heading-2-font-family: "Unbounded", Helvetica;
  --heading-2-font-weight: 600;
  --heading-2-font-size: 60px;
  --heading-2-letter-spacing: 0px;
  --heading-2-line-height: 70px;
  --heading-2-font-style: normal;
  --heading-3-font-family: "Unbounded", Helvetica;
  --heading-3-font-weight: 600;
  --heading-3-font-size: 40px;
  --heading-3-letter-spacing: 0px;
  --heading-3-line-height: 50px;
  --heading-3-font-style: normal;
  --heading-4-font-family: "Unbounded", Helvetica;
  --heading-4-font-weight: 600;
  --heading-4-font-size: 24px;
  --heading-4-letter-spacing: 0px;
  --heading-4-line-height: 34px;
  --heading-4-font-style: normal;
  --paragraph-1-font-family: "Poppins", Helvetica;
  --paragraph-1-font-weight: 400;
  --paragraph-1-font-size: 16px;
  --paragraph-1-letter-spacing: 0px;
  --paragraph-1-line-height: 26px;
  --paragraph-1-font-style: normal;
  --paragraph-2-font-family: "Unbounded", Helvetica;
  --paragraph-2-font-weight: 400;
  --paragraph-2-font-size: 24px;
  --paragraph-2-letter-spacing: 0px;
  --paragraph-2-line-height: 34px;
  --paragraph-2-font-style: normal;
}





.headingCont {
  text-align: center;
  z-index: 1;
}


.mainHeading {
  color: #FFF;
  font-family: Poppins;
  font-size: 96px;
  font-style: normal;
  font-weight: 800;
  line-height: 101%;
  margin: 7rem 0px 2.5rem 0px;
}

.mainHeadingClrTxt {
  color: #FFF234;
}

.subHeading {
  color: #FFF;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}



.buttonsNakli {
  border-radius: 50px;
  background: #FFF234;
  cursor: pointer;
  z-index: 1;
  color: var(--Black, #222);
  font-family: Unbounded;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.24px;

  padding: 16px 38px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

}


.heroCtaBtnCont {
  margin: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.extraTextCont {
  max-width: 1200px;
  padding: 0.7rem;
  font-size: 18px;
}

.extraText {
  color: #FFF;
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  margin-top: 1rem;
}

.extraTextProven {
  color: black;
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  margin: 1rem;
  text-align: center;
}

.imageHeroSec .foreGroundImage {
  position: relative;
  /* or absolute/fixed */
  z-index: 1;
  /* Lower z-index */
}


.imageHeroSec {
  /* border: 2px solid white; */
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ellipse {
  position: absolute;
  z-index: 1;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4rem;
  background-color: #ffffff7a;
  border-radius: 50%;
  box-shadow: 0px 32px 51.1px -26px #ffffff87;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.buttons {
  position: absolute;
  border-radius: 50px;
  background: #FFF234;
  cursor: pointer;
  z-index: 1;
  color: var(--Black, #222);
  font-family: Unbounded;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.24px;

  padding: 16px 38px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  top: 96%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.buttons2 {
  display: none;
}


.headingCont2 {
  background-repeat: no-repeat;
  background-position: center;

  background-position-y: 10rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



.hero4cards {
  display: flex;
  justify-content: space-between;
  /* padding: 0px 4rem; */
  flex-wrap: wrap;
}


.hero4cards>div:nth-child(-n+3) {
  border-right: 1px solid rgb(54, 54, 54);
}


.heroCard {
  width: 25%;
  padding: 4rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;

}


.heroCardTypography {
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: #FFF;
  color: transparent;
  font-family: Poppins;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: 74px;
  opacity: 0.5;
  white-space: nowrap;
  border-color: #fff;
}

.plus {
  margin-left: 10px;
  font-family: "Unbounded", Helvetica;
  font-weight: 600;
  color: #fff234;
  font-size: 48px;
  letter-spacing: 0;
  line-height: 26px;
  white-space: nowrap;
}








/* ========================================== */
.testimonial-section {
  width: 100%;
  float: left;
  margin: 0px 0 0 0;
  /* padding: 30px 0; */
  background: #EBEBEB;
}



.testimonial-section::before {
  content: "";
  position: absolute;
  border-radius: 0px 0px 200px 200px;
  opacity: 0.5;
  background: #222;
  width: 100%;
  height: 703px;
  flex-shrink: 0;
}



.testimonial-section h3 {
  color: #FFF;
  text-align: center;
  font-family: Poppins;
  font-size: 64px;
  font-style: normal;
  font-weight: 800;
  margin-top: 30px;
  /* line-height: 183%; */
}



.testimonial-section h6 {
  color: #FFF;
  font-family: Poppins;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  margin-top: 20px;
}

.testimonial-section ul {
  width: 100%;
  float: left;
  margin-top: 30px;
  padding: 0px;
}

.testimonial-section ul li {
  width: 46%;
  float: left;
  margin: 0px 2% 20px;
  padding: 16px;
  list-style: none;

  border-radius: 30px;
  background: #222;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.50);
}

.testimonial-section ul li .img1 {
  width: 100%;
  float: left;
  margin: 0px;
  padding: 0px;
  line-height: 0px;

}

.testimonial-section ul li .img1 img {
  width: 100%;
  height: auto;
  border-radius: 30px;
}


.testimonial-heading {
  margin: 0px;
  padding: 0px;
  border-radius: 30px;

  font-size: 26px;
  line-height: 130%;
  font-weight: 700;
  background: #fff;
  text-align: center;

  color: #000;
  text-align: center;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
}

.testimonial-section-text {
  width: 100%;
  float: left;
  margin: 0px;
  padding: 0px 3% 0px;


}

.testimonial-count {
  width: 50%;
  float: left;
  margin: 15px 0;
  padding: 0px 0;
  border-right: #333 1px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.testimonial-count h2 {
  margin: 0px 0 10px;
  color: #FFF;
  text-align: center;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 107%;
}

.testimonial-count span {
  color: #FFF;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 107%;
}

.testimonial-count.last-child {
  border-right: 0px;
}

.testimonial-section-text p {
  width: 100%;
  float: left;
  margin: 0px;
  padding: 0px 0 10px;

  text-align: justify;
  text-justify: inter-word;

  color: #FFF;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;

}

.testimonial-section-text p a {

  color: #FFF234;
  text-align: center;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 107%;


}

.testimonial-section-text p a:hover {
  color: #9b9322;
}



.testimonial-section-btm {
  width: 100%;
  float: left;
  margin: 0px;
  padding: 55px 0 55px;
  background-color: #222;
  color: white;
}

.testimonial-section-btm h3 {
  margin: 0px 0 40px;
  color: #FFF;
  text-align: center;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 107%;
}

.testimonial-section-btm ul {
  width: 100%;
  float: none;
  margin: 0;
  padding: 0px;
  display: inline-block;
  text-align: center;
}

.testimonial-section-btm ul li {
  width: 32.33%;
  float: none;
  margin: 0 0 40px;
  padding: 0px 2%;
  display: inline-block;
  text-align: center;
  list-style: none;
}

.testimonial-section-btm ul li .image-new {
  width: 100%;
  float: left;
  margin: 0px 0 20px;
  padding: 0px;
  text-align: center;
  line-height: 0px;
}

.testimonial-section-btm ul li .image-new img {
  width: 114px;
  height: 114px;
  border-radius: 50%;
  border: 2px solid #fff234;
  margin: 0 auto;
  display: table;
}

.testimonial-section-btm ul li h6 {
  width: 100%;
  float: left;
  margin: 0px 0 15px;
  padding: 0px;
  font-size: 22px;
  line-height: 22px;
  font-weight: normal;
  text-align: center;
  font-family: 'ProximaNovaAltBold';
}

.testimonial-section-btm ul li p {
  width: 100%;
  float: left;
  margin: 0px 0 15px;
  padding: 0px;
  font-size: 17px;
  line-height: 24px;
  font-weight: normal;
  text-align: center;
}


.testimonial-section-btm ul li p strong {
  color: #FFF234;
}

.testimonial-section-btm .clientTalking {
  color: #FFF234;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 107%;
}


.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0px;
}



.readall-button {
  border-radius: 38px;
  background: #FFF234;
  color: black;
  font-weight: 600;
  padding: 1rem 2rem;
  text-align: center;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  line-height: 107%;
  margin: 0px auto;
  display: table;
}


.readall-button:hover {
  background: #333;
  color: #fff;
}



/* =========================================================== */

.containerTrustedKa {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.trusted-section {
  width: 100%;
  float: left;
  background-color: #EBEBEB;
  padding: 2rem 0;
}


.trusted-section h3 {
  color: #222;
  text-align: center;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 117%;
}


.left-partition1 img {
  max-width: 100%;
  height: auto;
}

.card1 {
  border-radius: 24px;
  padding: 10px;
  border: 2px solid black;
  transition: 0.3s;
  background-color: #222;
  position: relative;
  z-index: 10;
}

.inStatsSide {
  /* color: #FFF; */
  text-align: center;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 107%;
}

.inStatsBox {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
}

.card:hover1 {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.inner-card1 {
  overflow: hidden;
  border-radius: 24px;
}

.left-partition1 {
  text-align: center;
  padding: 0px 0;
  width: 100%;
}

.right-partition1 {
  text-align: center;
  padding: 15px 0;
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
}

.right-partition1 h2 {
  text-align: center;
  margin: 4px 0 15px;
  padding-left: 8px;
  font-size: 24px;
  /* color: #292929; */
  font-weight: 500;
  font-family: Poppins;
}

.inStats {
  /* color: black; */
  text-align: center;
  font-family: Poppins;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 137%;
  /* 34.24px */
}

.inner-card1 img {
  /* width: 20rem; */
  width: 25rem;
}

.chip1 {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 16px;
  margin: 0 4px;
  cursor: pointer;
  border: 1px solid #fff;
  color: black;
  font-weight: 700;
  opacity: 1;
  background-color: white;
  /* background-image: linear-gradient(to left, #020986, #019a70); */
  /* width: 104px; */
  text-transform: uppercase;
}


.statistics1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
  text-align: center;
  /* color: #292929; */
  margin: 20px auto auto auto;
}

.statistics1 div {
  text-align: center;

}

.divider1 {
  border-right: 2px solid #fff;
  margin: 0 20px;
  height: 100%;
}

.divider2 {
  border-left: 2px solid #222;
  height: 4rem;
  margin: 0 1rem;
}

#mixedSlider3 .MS-content {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  flex-wrap: wrap;
}

#mixedSlider3 .MS-content .item {
  display: inline-block;
  width: 22%;
  white-space: normal;
  box-shadow: none;
  vertical-align: top;
  border: #b4b4b4 1px solid;
  border-radius: 24px;
}

.trackRecordBtn {
  border-radius: 50px;
  background: #222;
  margin: 2rem;
  padding: 1rem 4rem;
  font-weight: 600;
  font-size: 18px;
  color: white;
}


#mixedSlider3 .MS-content .item p {
  width: 100%;
  float: left;
  margin: 0px 0 20px;
  padding: 0px 0%;
  font-size: 16px;
  font-weight: 300;
  color: #333;
  text-align: left;
  line-height: 24px;
}

#mixedSlider3 .MS-content .item p span {
  width: 100%;
  float: left;
  font-size: 18px;
  font-weight: 700;
  color: #333;
  font-style: normal
}


#mixedSlider3 .MS-content .item p a {
  color: #333;
  text-decoration: underline;
}

#mixedSlider3 .MS-content .item p a:hover {
  color: #5ddfff;
}

#mixedSlider3 .MS-content .item .imgTitle {
  position: relative;
}

#mixedSlider3 .MS-content .item .imgTitle .blogTitle {
  margin: 0;
  text-align: left;
  letter-spacing: 2px;
  color: #252525;
  font-style: italic;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  bottom: 0;
  font-weight: bold;
  padding: 0 0 2px 10px;
}

#mixedSlider3 .MS-content .item .imgTitle img {
  height: auto;
  width: 100%;
}

#mixedSlider3 .MS-content .item:hover .icons {
  background: #f36915;
  color: #f36915;
}

#mixedSlider3 .MS-controls button {
  position: absolute;
  border: none;
  background-color: transparent;
  outline: 0;
  font-size: 35px;
  top: -210px;
  color: rgba(0, 0, 0, 0.6);
  transition: 0.15s linear;
  cursor: pointer;
}

#mixedSlider3 .MS-controls button:hover {
  color: rgba(0, 0, 0, 1);
}

.MS-controls {
  position: relative;
}




/* ============================== marketing-service ===============================  */
.marketing-service {
  width: 100%;
  background: #EBEBEB;
  float: left;
  margin: 0px;
  padding: 30px 0px;
}

.marketing-service h3 {
  color: #222;
  text-align: center;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 107%;
  /* 51.36px */
}


.marketing-service h5 {
  color: #222;
  text-align: center;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  margin: 1rem 0px;
  /* 30px */
}


.marketing-service ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 26px;
  margin: 3rem 0;
}

.marketing-service ul a {
  width: 20rem;
  background-color: white;
  border-radius: 30px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  flex-wrap: wrap;
}

.marketing-service ul a:hover img {
  transform: scale(1.1);
  transition: 0.2s ease-in;
}


.marketing-service ul a p {
  color: #000;
  text-align: center;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: 130%;
  margin: 1rem;
}



.marketing-service ul a h6 {
  color: #000;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 101%;
  margin-top: 1rem;
}


.marketing-service ul a img {
  width: 100%;
  max-width: 80px;
}

p.second-para {
  font-size: 11px !important;
  font-weight: 300 !important;
  margin: 25px 0px 0px !important;
  text-align: center !important
}








/* =========================== Maximize ROI ========================== */


.maxiRoiCont {
  display: flex;
  justify-content: center;
  background: #222;
  border: 2px solid black;
  padding: 1rem;
  padding-bottom: 15rem;
  flex-wrap: wrap;
  position: relative;
}

.maxiRoiLeftMamImgBox {
  width: 45%;
  display: flex;
  justify-content: center;
}

.maxiRoiRightParas {
  width: 55%;
}

.maxiRoiRightParas h3 {
  color: #FFF;
  font-family: Poppins;
  font-size: 3.6vw;
  /* Adjusted for responsive sizing */
  font-style: normal;
  font-weight: 800;
  line-height: 110%;
  margin: 2rem 4rem 1rem 0;
}

.maxiRoiRightParas p {
  color: #FFF;
  font-family: Poppins;
  font-size: 1.3vw;
  /* Adjusted for responsive sizing */
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  margin: 1rem 5rem 0 0;
}

.maxiRoiLeftMamImgBox .phoneShowImgRoi1 {
  height: auto;
  width: 100%;
  max-width: 29rem;
  transform: translateY(-50px) rotate(2.971deg) scale(1.05);
  flex-shrink: 0;
  /* box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3); */
}

.phoneShowImgRoi {
  display: none;
}


.lookingForYellowBox {
  border-radius: 38px;
  background: #FFF234;
  /* max-width: 1280px; */
  margin: 0 3rem;
  padding: 1rem;
  position: absolute;
  bottom: 1rem;
}

.lookingForYellowBox h2 {
  color: #222;
  text-align: center;
  font-family: Poppins;
  font-size: 44px;
  font-style: normal;
  font-weight: 800;
  line-height: 110%;
  margin: 1rem 2rem;
}


.lookingForYellowBox .buttonBox a {
  border-radius: 38px;
  background: #222;
  color: #FFF;
  text-align: center;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 107%;
  padding: 1rem;
  margin: 10px 0;
}


.lookingForYellowBox .buttonBox a:hover {
  color: #FFF234;
}


/* .why-choose-section .buttonBox a {
  border-radius: 38px;
  background: #222;
  color: #FFF;
  text-align: center;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 107%;
  padding: 1rem;
  margin: 10px 0;
} */

.why-choose-section .buttonBox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.why-choose-section .buttonBox a {
  border-radius: 38px;
  background: #FFF234;
  color: black;
  font-weight: 600;
  padding: 1rem 2rem;
  text-align: center;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  line-height: 107%;
}

.lookingForYellowBox p {
  color: #222;
  text-align: center;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 110%;
  margin: 1rem 7rem;
}

.lookingForYellowBox .buttonBox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}



.why-choose-section strong {
  font-weight: 800;
}


.why-choose-section {
  width: 100%;
  float: left;
  margin: 0px;
  padding: 30px 0 30px;
  color: #fff;
  background: var(--Black, #222);
}

.why-choose-section h3 {
  color: #FFF;
  text-align: center;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 107%;
  margin: 0 0 1.5rem 0;

}

.why-choose-section p {
  margin: 0px 0 30px;
  padding: 0px;
  font-size: 21px;
  line-height: 25px;
  font-weight: 400;
}

.why-choose-section .img {
  float: right;
  max-width: 100%;
  height: auto;
  margin: 0 0 20px 40px
}

.why-choose-section ul {
  width: 100%;
  float: left;
  margin: 30px 0 0 0;
  padding: 0px;
}

.why-choose-section ul li {
  width: 24%;
  float: left;
  margin: 0 0.5% 40px;
  padding: 0px;
  list-style: none;
}

.why-choose-section ul li h6 {
  width: 100%;
  float: left;
  margin: 0px 0 15px;
  padding: 12px;
  font-size: 20px;
  line-height: 22px;
  font-weight: 600;
  text-align: center;
  font-family: Poppins;
  border-radius: 50px;
  background: #D9D9D9;
  color: #000;
}

.why-choose-section ul li p {
  margin: 0px 0 0px;
  padding: 0px;
  font-size: 21px;
  line-height: 25px;
  font-weight: normal;
}












.accordion_pre {
  background: #D9D9D9;
  color: #000;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  margin: 1px 0px;
  text-align: left;
  outline: none;
  font-weight: 600;
  font-size: 20px;
  transition: 0.4s;
  border-radius: 50px;
}

.mob-pre-section {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

/* .active_pre,
.accordion_pre:hover {
  background-color: #010a83;
} */

.accordion_pre:after {
  content: '\002B';
  color: #000000;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active_pre:after {
  content: "\2212";
}

.panel_pre {
  padding: 0 18px;
  background: #D9D9D9;
  color: #000;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  border-radius: 30px;
}

.panel_pre p {
  font-size: 20px;
  margin: 10px 0px 20px;
}



/* ===================================== */


.our-portfolio {
  width: 100%;
  float: left;
  margin: 0px;
  padding: 30px 0 30px;
  background: #D9D9D9;
}

.result-driven {
  padding: 30px 0 0 0;
}

.our-portfolio h3 {
  color: #222;
  text-align: center;
  font-family: Poppins;
  margin: 0px 0 10px;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 107%;
}

.our-portfolio h5 {
  width: 100%;
  float: left;
  margin: 0px 0 30px;
  padding: 0px;
  font-size: 24px;
  line-height: 30px;
  color: #333;
  font-weight: normal;
  text-align: center;
  font-family: Poppins;
}

.our-portfolio-image {
  width: 32.33%;
  max-height: 387.95px;
  float: left;
  margin: 0px 0.5% 20px;
  padding: 0px;
  line-height: 0px;
  border-radius: 30px;
}

.our-portfolio-image img {
  width: 100%;
  height: auto;
}



.asSeenOn {
  background-color: #D9D9D9;
  padding: 2rem 10px;
}

.asSeenOn .asSeenOnHeading {
  color: #222;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.2;
  margin: 2rem 0;
}

.asSeenOn .whiteBox {
  background-color: #fff;
  border-radius: 30px;
  padding: 1.5rem;
}

.asSeenOnRow1,
.asSeenOnRow2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1rem;
  margin-bottom: 1rem;
}

.asSeenOnRow1 img,
.asSeenOnRow2 img {
  max-width: 100%;
  height: auto;
}



/* ====================================================== */

.footerJi {
  justify-content: space-around;
  background-color: #000;
  color: white;
  display: flex;
  padding: 3% 6%;
  font-family: Poppins;
  flex-wrap: wrap;
  gap: 4rem;
}

.inRightFooter,
.inLeftFooter {
  display: flex;
  gap: 3rem;
  flex-direction: column;
}

.footerJi .heading {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 2rem;
}

.footMiddle {
  display: flex;
  flex-direction: column;
}


.footRight,
.footLeft {
  display: flex;
  justify-content: start;
  flex-direction: column;
}

.footLeft .countryDiv {
  display: flex;
  font-size: 24px;
  font-weight: 500;
  align-items: center;
  gap: 10px;
  margin-bottom: 1rem;
}

.footMiddle .inFootMiddle {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.footMiddle .inFootMiddle a {
  font-size: 18px;
}

.footRight svg {
  width: 25px;
  line-height: 24px;
  color: #ffffff;
  fill: #ffffff;
}

.footLeft svg {
  width: 20px;
  line-height: 24px;
  color: #ffffff;
  fill: #ffffff;
}

.footRight span {
  display: flex;
}

.footRight a {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  padding: 6px 5px;
}

.footRight .facebook {
  background-color: #1778f2;
  /* background: #1da1f2; */
}

.footRight .twitter {
  background: #1da1f2;
}

.footRight .insta {
  background: #f00075;
}

.footRight .whatsApp {
  background: #25d366;
}

.footRight .skype {
  background: #0478d7;
}

.footRight .iconCont {
  display: flex;
  gap: 2rem;
}

.footRight svg {
  border-radius: 30px;
  color: white;
  fill: white;
}




















.semiCircleSection {
  position: relative;
  width: 100%;
  overflow: hidden;
  /* Background color for the section */
}

.semiCircle {
  position: absolute;
  top: 55%;
  width: 25rem;
  /* Diameter of the semicircle */
  height: 17rem;
  background-color: #7e7e7e;
  /* Color of the semicircle */
  border-radius: 50%;
  /* Creates a semicircle */
  transform: translateY(-50%);
}

.semiCircle.left {
  left: 0;
  transform: translate(-60%, -50%) rotate(90deg);
  /* Position and rotate for the left side */
}

.semiCircle.right {
  right: 0;
  transform: translate(60%, -50%) rotate(-90deg);
  /* Position and rotate for the right side */
}


:hover {
  transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -webkit-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
}

/* .effect{ position:relative; display:block; overflow:hidden; cursor: pointer;}
.effect:before,.effect:after{content:''; background:rgba(212, 210, 210, 0.2) none repeat scroll 0 0;content: "";opacity: 1;position:absolute;}
.effect:before{ bottom: 0;left: 50%;right:50%;top: 0;}
.effect:after{left: 0;bottom: 50%;right:0;top:50%;}
.effect:hover:before,.effect:hover:after{transition: all 900ms ease-in 0s;}
.effect:hover:before{ left: 0; opacity: 0; right: 0;}
.effect:hover:after{ top: 0; opacity: 0; bottom: 0;} */


.effect {
  overflow: hidden;
  cursor: pointer;
}














/* Popup container - can be anything you want */
.popup {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 9999;
  /* Sit on top */
  padding: 40px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/ opacity */
}






/* Popup image */
.popup-content {
  margin: auto;
  display: block;
  width: 80%;
  border-radius: 10px;
}

/* Caption of popup image */
.popup-content {
  animation-name: zoom;
  animation-duration: 0.6s;
}


.close {
  /* position: absolute; */
  position: fixed;
  bottom: 15px;
  right: 24px;
  color: #fff;
  font-size: 40px;
  transition: 0.3s;
}



/* Add animation */
@keyframes zoom {
  from {
    transform: scale(0)
  }

  to {
    transform: scale(1)
  }
}

/* The close button */


.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}





/* ==================================================== */

.masterDabba {
  gap: 1rem;
  width: 100%;
  margin: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.masterSubDabba {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 30rem;
}


.dabbe {
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.4rem;
  flex-direction: column;
  cursor: pointer;
}


.subFaqDabba {
  background-color: white;
  border-radius: 10px;
  gap: 1rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}


.faqHeading {
  margin: 1rem 0;
  text-align: center;
  font-family: Poppins;
  font-size: 3rem;
  font-weight: 700;
}


.panel {
  background-color: transparent;
  font-family: 'Poppins';
  display: none;
  overflow: hidden;
  font-size: 18px;
  line-height: 24px;
  font-weight: normal;
  transition: max-height 0.2s ease-out;
  padding: 1rem;
  background: #222;
  color: white;

  position: relative;
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}


@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}



.panel.active-faq {
  display: block;
}

.toggle-symbol {
  padding: 1px 5px;
  border-radius: 50%;
  background: #222;
  color: #FFF;
  font-size: 16px;
  font-weight: bold;
}


/* =============================================== Seo */

.seoHero {
  background: url("./img/seoPage/chemHero.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  background-color: #000;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 1rem;
  /* Add padding for smaller screens */
}

.seoHero img {
  max-width: 100%;
  /* Ensure the image is responsive */
  height: auto;
  /* margin-bottom: 2rem;  */
}

.seoHero .seoHeading {
  color: #FFF234;
  font-family: Poppins;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 900;
  line-height: 120%;
}

.seoHero .seoSubHeading {
  color: #FFF;
  font-family: Poppins;
  font-size: 1.3rem;
  margin-top: 12px;
  /* Adjust font size for responsiveness */
  font-style: normal;
  font-weight: 600;
  /* margin-bottom: 2rem; */
  line-height: 1.4;
}

.seoHero button {
  border-radius: 50px;
  background: #FFF234;
  cursor: pointer;
  color: var(--Black, #222);
  font-family: Unbounded;
  font-size: 1rem;
  /* Adjust font size for responsiveness */
  font-style: normal;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.24px;
  padding: 1rem 2rem;
  /* Adjust padding for better touch target */
  margin: 1rem;
  /* Adjust bottom margin */
  transition: background 0.3s ease;
}

.seoHero button:hover {
  background: #FFD700;
}






/* ========================================================= */

.getURankedCont {
  background: var(--Black, #222);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  position: relative;
}

.getURankedBg {
  position: absolute;
  top: 0;
  right: 0;
}

.getURanked {
  color: white;
  display: flex;
}


.getURankedHeading {
  color: #FFF;
  font-family: Poppins;
  font-size: 33px;
  font-style: normal;
  font-weight: 800;
  line-height: 110%;
  margin-bottom: 1rem;
  text-align: center;
}

.getURankedPara {
  color: #FFF;
  font-family: Poppins;
  font-size: 1rem;
  /* Adjust font size for responsiveness */
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  /* Increase line-height for readability */
  margin: 1rem 0;
  /* margin-bottom: 1rem; */
}

.getURankedH6 {
  color: #FFF;
  font-family: Poppins;
  font-size: 1.2rem;
  /* Adjust font size */
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  margin-bottom: 1rem;
}

.getURankList {
  color: #FFF;
  font-family: Poppins;
  font-size: 1rem;
  /* Adjust font size */
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 1.5rem;
  padding-left: 1.5rem;
  /* Add padding for list items */
  text-align: left;
  /* Align text to the left */
}

.afterListGetuRanked {
  color: #FFF;
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  margin-top: 1rem;
  margin-bottom: 2rem;
  /* padding: 0 1rem; */
  /* Add padding for smaller screens */
  text-align: center;
}


@media (min-width: 1024px) {

  .getURankedLeft {
    width: 70%;
  }

  .getURankedRight {
    width: 35%;
  }

  .getURankedHeading {
    font-size: 4rem;
  }

  .getURankedPara,
  .getURankedH6,
  .getURankList,
  .afterListGetuRanked {
    font-size: 1.5rem;
    /* Further increase font size */
  }

}

.getURanked img {
  width: 100%;
  height: auto;
  max-width: 100%;
  object-fit: cover;
  position: relative;
}


/* ========================================= */
.freeTrialSection {
  background: #FFF234;
}

.freeTrialSubSection {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  /* Center the section */
  padding: 1rem;
  /* Add padding for smaller screens */
}

.freeTrialHeading {
  color: #222;
  text-align: center;
  font-family: Poppins;
  font-size: 33px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  padding: 0 1rem;
}


.freeTrialSectionNewComponent {
  background: #c6cc8e;
}

.freeTrialHeadingNewComponent {
  color: #222;
  text-align: center;
  font-family: Poppins;
  font-size: 33px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  padding: 0 1rem;
}



.freeTrialSubSectionNewComponent a {
  border-radius: 33px;
  background: #FFF234;
  padding: 16px 38px;
  font-size: 20px;
  color: #222;
  text-align: center;
  font-family: Poppins;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
  max-width: 100%;
}


.freeTrialSubSection button {
  border-radius: 33px;
  background: #222;
  padding: 16px 38px;
  font-size: 20px;
  color: #FFF234;
  text-align: center;
  font-family: Poppins;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
  max-width: 100%;
  /* Ensure button width is responsive */
  margin-top: 1rem;
}


.getURankedLastBox {
  border-radius: 30px;
  background: #EBEBEB;
  padding: 1rem;
  color: #222;
  text-align: center;
  font-family: Poppins;
  font-size: 1.3rem;
  /* Adjust font size */
  font-style: normal;
  font-weight: 700;
  line-height: 1.4;
  max-width: 100%;
  margin: 0 auto;
  /* Center the box */
}


.trusted-section-subHeading {
  color: #222;
  text-align: center;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 107%;
  text-align: center;
}

.trusted-section-paragraph {
  color: #222;
  text-align: center;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 107%;
  margin: 1rem 1rem;
  text-align: center;
}


/* =============================================================== */


/* ============================== seo-service ===============================  */
.seo-service {
  width: 100%;
  background: #222;
  float: left;
  margin: 0px;
  padding: 30px 0px;
}

.seo-service h3 {
  color: white;
  text-align: center;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 107%;
}


.seo-service h5 {
  color: #222;
  text-align: center;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  margin: 1rem 0px;
  /* 30px */
}


.seo-service ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 26px;
  margin: 3rem 0;
}

.seo-service ul span {
  width: 23rem;
  /* width: 21rem; */
  background-color: white;
  border-radius: 30px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  flex-wrap: wrap;
}

.seo-service ul span:hover img {
  transform: scale(1.1);
  transition: 0.2s ease-in;
}


.seo-service ul span p {
  color: #222;
  text-align: center;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  margin-bottom: 1rem;
}


.seo-service ul span a {
  background: #222;
  color: #FFF234;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 107%;
  padding: 16px 38px;
  border-radius: 30px;
  text-decoration-line: underline;
}



.seo-service ul span h6 {
  color: #000;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 101%;
  margin: 1rem 0;
  height: 2rem;
}


.seo-service ul span p.boxSizeForHeading {
  font-style: italic;
  font-weight: 600;
  height: 2.4rem;
}

.seo-service ul span p.forBoxSize {
  height: 9rem;
}

.seo-service ul span img {
  width: 100%;
  max-width: 80px;
}



/* ======================================================== */

.seoContriHeading {
  color: #FFF;
  text-align: center;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 107%;
}

.seoContriSubHeading {
  color: #FFF;
  text-align: center;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 107%;
}




/* ========================================================== */

@media (max-width: 768px) {


  
.heroCard {
  padding: 2rem 0;
}

  .seoContriHeading {
    font-size: 33px;
  }

  .seoContriSubHeading {
    font-size: 16px;
  }

  .siteOptimizeMainHeading {
    font-size: 33px;
  }

  .siteOptimizeSubHeading {
    font-size: 16px;
  }

  .seo-service h3 {
    font-size: 33px;
  }

  .embeddedVid {
    width: 100%;
  }


  .faqHeading {
    font-size: 33px;
  }

  .faqQuestion {
    font-size: 18px;
    line-height: 20px;
    font-weight: 600;
    font-family: 'Poppins';
  }

  .hero4cards>div:nth-child(-n+3) {
    border-right: none;
  }

  .asSeenOn .asSeenOnHeading {
    font-size: 2rem;
  }

  .asSeenOnRow1 img {
    width: 100px;
  }

  .asSeenOnRow2 img {
    width: 60px;
  }

  .getURankedBg {
    display: none;
  }

  .trusted-section-paragraph {
    font-size: 20px;
  }
}


@media (max-width: 480px) {

  .seo-service ul {
    margin: 2rem 0;
  }

  /* .hero4cards>div:nth-child(-n+3) {
    border-bottom: 1px solid rgb(54, 54, 54);
  } */

  .hero4cards{
    justify-content: center;
  }

  .asSeenOn .asSeenOnHeading {
    font-size: 1.5rem;
  }

  .asSeenOnRow1 img {
    width: 80px;
  }

  .asSeenOnRow2 img {
    width: 50px;
  }

  .whiteBox {
    padding: 1rem;
  }
}


.seoContriContainer {
  padding: 2rem 1rem;
  background-color: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.seoContriCardHeading {
  color: #222;
  text-align: center;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 107%;
  background-color: white;
  padding: 10px;
  border-radius: 16px 16px 0px 0px;
  text-align: center;
}

.seoContriSubContainer,
.seoServiceBest {
  display: flex;
  gap: 2rem;
  justify-content: center;
  flex-wrap: wrap;
  margin: 1rem;
}


.seoServiceBest {
  max-width: 1200px;
}

.seoContriCard {
  border: 2px solid white;
  max-width: 20rem;
  height: auto;
  border-radius: 18px;
}

.seoContriCardSubHeading {
  color: white;
  text-align: center;
  margin: 1rem;
}

.seoContriContainer h5 {
  color: white;
  text-align: center;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  margin: 1rem 0px;
  font-style: italic;
}

.seoContriContainer h4 {
  color: white;
  text-align: center;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  margin: 1rem 0px;
}



/* ======================================= */
.cardSeoPro {
  transition: 0.3s;
  background-color: white;
  position: relative;
  z-index: 10;
}

.inner-cardSeoPro img {
  width: 100%;
}

#mixedSlider3 .seoProContent {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}


.right-partitionSeoPro {
  text-align: center;
  width: 100%;
  /* color: white; */
  display: flex;
  flex-direction: column;
}


.statisticsSeoPro {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin: 20px;
}

.custom-h2SeoPro {
  padding: 10px;
  background-color: #222;
  color: white;
  font-size: 20px;
}



.inStatsSideSeoPro {
  text-align: center;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 107%;
}


.extraTextSeoPro {
  color: #FFF;
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  font-size: 22px;
  margin: 12px;
}


/* ==================================================================== */

.serviceWeOfferSeo {
  width: 100%;
  background: #EBEBEB;
  float: left;
  margin: auto;
  padding: 30px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.serviceWeOfferSeo h3 {
  color: #222;
  text-align: center;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 107%;
  max-width: 1200px;
}


.serviceWeOfferSeo h5 {
  color: #222;
  text-align: center;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  margin: 1rem 0px;
  font-style: italic;
}


.serviceWeOfferSeo ul {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-wrap: wrap;
  gap: 26px;
  margin: 3rem 0;
}

.serviceWeOfferSeo ul a {
  max-width: 20rem;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  flex-wrap: wrap;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* Add shadow */
}

.serviceWeOfferSeo ul a:hover img {
  transform: scale(1.1);
  transition: 0.2s ease-in;
}


.serviceWeOfferSeo ul a p {
  color: #000;
  text-align: center;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  margin-top: 10px;
}



.serviceWeOfferSeo ul a h6 {
  color: #000;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 101%;
  margin-top: 1rem;
}


.serviceWeOfferSeo ul a img {
  width: 100%;
  max-width: 80px;
}


/* ==================================================== */
.getReadyToDisCont {
  background: #EBEBEB;
}

.getReadyToDisSubCont {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  margin: 1rem;
  padding: 1rem;
  gap: 4rem;
}

.getReadyToDisCont {
  display: flex;
  align-items: center;
  justify-content: center;
}

.getReadyToDisRight {
  max-width: 65%;
  text-align: center;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  flex-direction: column;
}

.getReadyToDisHeading {
  color: #222;
  text-align: center;
  font-family: Poppins;
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: 107%;
}

.getReadyToDisSubHeading {
  color: #222;
  text-align: center;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 107%;
  margin: 2rem 0;
}

.getReadyToDisBox {
  border-radius: 20px;
  background: #222;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.getReadyToDisBoxHead {
  color: #FFF;
  text-align: center;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 107%;
}


.getReadyToDisBoxBtn {
  color: #222;
  text-align: center;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 107%;
  border-radius: 30px;
  background: #FFF234;
  padding: 10px 16px;
  margin-top: 1rem;
}

.getReadyToDisImage2 {
  display: none;
}

/* ================================================================= */


.getaFreePageAuditCont {

  padding: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #F5F5F5;
  width: 100%;
  /* Add this line */
  box-sizing: border-box;
  /* Add this to include padding and border in width/height */
}

.getaFreePageAuditSubCont {
  gap: 4rem;
  display: flex;
  justify-content: center;
  padding: 2rem;
  width: 100%;
  /* Ensure it spans the full width */
  max-width: 1200px;
  /* Optional: Limit the width for better control */
  margin: auto;
  /* Center the flex container */
}

.archery {
  position: absolute;
  bottom: -220px;
  left: 0;
}

.getaFreePageAuditHeading {
  color: #222;
  font-family: Poppins;
  font-size: 35px;
  /* font-size: 42px; */
  font-style: normal;
  font-weight: 700;
  line-height: 107%;
}

.getaFreePageAuditformBox {
  height: 550px;
  flex-shrink: 0;
  border: 1px solid black;
}

.siteOptimizeCard {
  display: flex;
  gap: 1rem;
}

.siteOptimizeCard .siteOptiIconBox {
  display: flex;
  align-items: center;
  justify-content: center;
}



.getaFreePageAuditLeftBox {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.getaFreePageAuditLeftCont {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 38rem;
  position: relative;
}



.siteOptimizeCardHeading {
  color: #222;
  font-family: Poppins;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 107%;
  text-transform: uppercase;
}

.siteOptimizeCardPara {
  color: #222;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 124%;
  text-transform: capitalize;
  margin-top: 6px;
}





/* ====================================================== */


.coverage-sectionCont {
  background: #222;
  padding: 40px 0 40px;
}


.coverage-section {
  width: 100%;
  float: left;
  margin: 0px 0 0 0;
  /* padding: 40px 0 40px; */
  color: white;
}

.coverage-section h3 {
  width: 100%;
  float: left;
  margin: 0px 0 30px;
  padding-left: 38%;
  font-size: 48px;
  line-height: 52px;
  text-align: center;
  color: #FFF;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 107%;

}

.coverage-section h5 {
  width: 100%;
  float: left;
  margin: 0px 0 20px;
  padding: 0px;
  font-size: 24px;
  line-height: 26px;
  font-weight: normal;
  text-align: center;
  font-family: Poppins;
  text-align: center
}

.coverage-section ul {
  width: 45%;
  float: left;
  margin: 10px 0 10px 0;
  padding: 0px;
}

.coverage-section ul li {
  width: 96%;
  float: left;
  margin: 0 1% 0 3%;
  padding: 0px 0px 15px 0px;
  list-style: disc;
  font-size: 22px;
  line-height: 24px;
  font-weight: normal;
  font-family: Poppins;
}

.ulBoxOfCoverageSection {
  display: flex;
  align-items: start;
  justify-content: center;
  width: 100%;
  gap: 2rem;
  flex-wrap: wrap;
  flex-direction: row;
}

.talk-btn {
  width: 220px;
  border: 0;
  border-radius: 30px;
  float: none;
  padding: 0px;
  margin: 0 auto;
  display: table;
  height: 50px;
  cursor: pointer;
  background: #fff200;
  text-align: center;
  line-height: 50px;
  font-size: 22px;
  font-weight: normal;
  text-transform: uppercase;

  color: #222;
  text-align: center;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  margin: 1rem auto;

}


.code-of-ehins {
  width: 100%;
  float: left;
  margin: 0px 0 0px 0;
  padding: 40px 40px 40px;
  background: #FFF234;
  position: relative;
}

.code-of-ehins .icon-left {
  width: 15%;
  float: left;
  margin: 0px;
  padding: 0px;
}

.code-of-ehins-section {
  width: 65%;
  float: left;
  margin: 0px 0 0 0;
  padding: 0px 0 0px;
}

.code-of-ehins-section h3 {
  margin-bottom: 1rem;
  color: #222;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 107%;
}

.freeTrialBtn {
  color: #FFF234;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 125%;
  cursor: pointer;
  background: #222;
  border-radius: 30px;
  padding: 8px 40px;
  text-wrap: nowrap;
  position: relative;
  z-index: 1;
}

.code-of-ehins-section p {
  color: #222;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 125%;
  margin: 1rem 0;
}

.code-of-ethics-para {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 1rem;
}

.codeEthicsArrow {
  position: absolute;
  top: -20rem;
  right: -21rem;
  width: 30rem;
}

.free-trial-btn {
  width: 220px;
  border: 0;
  border-radius: 30px;
  float: right;
  padding: 0px;
  display: table;
  height: 54px;
  cursor: pointer;
  background: #fff200;
  text-align: center;
  line-height: 54px;
  font-size: 22px;
  font-weight: normal;
  text-transform: uppercase;
  font-family: 'ProximaNovaAltBold';
}

.free-trial-btn:hover {
  background: #fff;
  color: #333;
}

.consultationCont {
  width: 100%;
  background: #F5F5F5;
}

.code-of-ehins1 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  padding: 2rem 1rem;
  gap: 4rem;
}

.code-of-ehins1 .icon-left1 {
  width: 50%;
  gap: 5rem;
}

.code-of-ehins-section1 div {
  width: 100%;
  margin: 10px 0;
  font-size: 42px;
  line-height: 50px;
  color: #222;
  font-family: Poppins;
  font-weight: 700;
}

.code-of-ehins-section1 p {
  width: 100%;
  color: #222;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 107%;
}

.free-trial-btn1 {
  padding: 1rem 2rem;
  border-radius: 30px;
  background: #222;
  color: #FFF234;
  text-align: center;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 107%;
  margin: 1rem 0;
}

.key-process-section {
  width: 100%;
  float: left;
  margin: 0px 0 0 0;
  padding: 40px 0 16px;
  background: #222;
}

.key-process-section h3 {
  margin: 0px 0 30px;
  padding: 0px 10%;
  color: #FFF;
  text-align: center;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 107%;
}

.key-process-section ul {
  width: 100%;
  float: left;
  margin: 10px 0 10px 0;
  display: flex;
  flex-wrap: wrap;
}

.key-process-section ul li {
  width: 50%;
  float: left;
  margin: 0 0 20px;
  padding: 0px 2% 0 0;
  list-style: none;
}

.box-count {
  width: 45px;
  height: 45px;
  float: left;
  margin: 0px 10px 0 0;
  padding: 0px;
  line-height: 45px;
  background: rgb(242, 242, 242);
  font-size: 30px;
  text-align: center;
  font-weight: normal;
  font-family: 'ProximaNovaAltBold';
  color: black;
  border-radius: 8px;
}

.key-process-section ul li p {
  width: 90%;
  float: left;
  font-size: 20px;
  line-height: 22px;
  color: white;
  font-weight: normal;
  text-align: left;
  font-family: 'poppins';
}





.siteOptimizeMainHeading {
  color: black;
  text-align: center;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 107%;
  margin-bottom: 14px;
}


.siteOptimizeSubHeading {
  color: black;
  text-align: center;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 107%;
  margin: 6px 2rem;
}



.consultationBox {
  display: flex;
  flex-direction: column;
  align-items: start;
}







/* ==================================================== */



.pronsCont {
  background: #222;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pronsSubjiCont {
  max-width: 1200px;
  margin: 1rem;
  padding: 1rem;
}

.pronsSubCont {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}



.pronsUl {
  text-align: left;
  font-size: 20px;
}

.pronsRight {
  max-width: 55%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.pronsHeading {
  font-family: Poppins;
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: 107%;
  text-align: center;
}

.pronsSubHeading {
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 107%;
  margin: 2rem 0;
}



.pronsBox {
  border-radius: 20px;
  background: #222;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.pronsBoxHead {
  color: #FFF;
  text-align: center;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 107%;
}


.pronsBoxBtn {
  color: #222;
  text-align: center;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 107%;
  border-radius: 30px;
  background: #FFF234;
  padding: 10px 16px;
  margin-top: 1rem;
}

.pronsImage2, .pronsImage3 {
  display: none;
}

/* ================================================================= */


.answerBox {
  margin: 0 1rem;
  font-size: 1rem;
  line-height: 30px;
}






/* ========================== */

@media (max-width: 1200px) {

  .codeEthicsArrow {
    display: none;
  }
}


@media (max-width: 768px) {

  .ulBoxOfCoverageSection {
    gap: 0;
  }

  .code-of-ethics-para {
    flex-wrap: wrap;
    justify-content: center;
  }

  .freeTrialHeading {
    font-size: 25px;
    padding: 0;
  }

  .getURanked {
    flex-direction: column;
  }



  .getReadyToDisSubCont {
    flex-direction: column;
    gap: 0;
  }

  .getReadyToDisImage2 {
    display: block;
    margin: 2rem auto;
    width: 8rem;
  }

  .getReadyToDisSubHeading {
    margin-top: 0px;
  }

  .getReadyToDisHeading {
    font-size: 33px;
  }

  .getReadyToDisImage1 {
    display: none;
  }

  .getReadyToDisRight {
    max-width: 100%;
  }

  /* =============== prons*/




  .pronsSubCont {
    flex-direction: column;
    gap: 0;
  }

  .pronsImage2 {
    display: block;
    margin: 2rem auto;
  }

  .pronsImage3 {
    display: block;
    margin: 0 auto;
  }



  .pronsHeading {
    font-size: 33px;
  }

  .pronsImage1 {
    display: none;
  }

  .pronsRight {
    max-width: 100%;
  }




  /* ==================== */


  .getaFreePageAuditSubCont {
    display: flex;
    justify-content: center;
    padding: 2rem;
    gap: 4rem;
    flex-direction: column;
  }

  .siteOptimizeCard {
    gap: 8px;
  }

  .getaFreePageAuditHeading {
    font-size: 28px;
    text-align: center;
  }

  .siteOptimizeCard .siteOptiIconBox {
    display: flex;
    align-items: start;
    justify-content: center;
  }

  .siteOptimizeCardHeading {
    font-size: 18px;
  }


  .getaFreePageAuditSubCont {
    gap: 2rem;
    padding: 2rem 1rem;
  }

  .archery {
    display: none;
  }

  .code-of-ehins1 {
    flex-direction: column;
    gap: 0;
  }

  .code-of-ehins1 .icon-left1 {
    width: 100%;
    padding: 1rem;
  }


  .code-of-ehins-section1 div {
    font-size: 33px;
    line-height: 40px;
    text-align: center;
  }

  .siteOptimizeMainHeading {
    font-size: 33px;
  }

  .code-of-ehins-section1 p {
    text-align: center;
  }

  .consultationBox {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .seo-service ul span p.forBoxSize {
    height: 7rem;
  }

}


@media (min-width: 768px) {

  .answerBox {
    margin: 0 1rem 2rem 1rem;
    font-size: 24px;
  }

  .seoHero {
    padding: 5rem 2rem 2rem 1rem;
  }

  .seoHero .seoHeading {
    font-size: 4rem;
    line-height: 120%;
  }

  .seoHero .seoSubHeading {
    margin-top: 16px;
    font-size: 2rem;
  }

  .seoHero button {
    font-size: 1.2rem;
    padding: 1.2rem 3rem;
  }

  .close {
    /* position: absolute; */
    position: fixed;
    bottom: 50px;
    right: 5rem;
    color: #fff;
    font-size: 40px;
    transition: 0.3s;
  }

  .extraTextCont {
    font-size: 26px;
  }

}

